@import "tailwindcss";

@font-face {
  font-family: "WoodChuck";
  src: url("../assets/fonts/Woodchuck-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: thin;
  font-display: swap;
}
@font-face {
  font-family: "WoodChuck";
  src: url("../assets/fonts/Woodchuck-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: light;
  font-display: swap;
}
@font-face {
  font-family: "WoodChuck";
  src: url("../assets/fonts/Woodchuck-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: regular;
  font-display: swap;
}
@font-face {
  font-family: "WoodChuck";
  src: url("../assets/fonts/Woodchuck-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: bold;
  font-display: swap;
}
@font-face {
  font-family: "WoodChuck";
  src: url("../assets/fonts/Woodchuck-Heavy.woff2") format("woff2");
  font-weight: 900;
  font-style: heavy;
  font-display: swap;
}

@font-face {
  font-family: "WoodHeinzNo4";
  src: url("../assets/fonts/WoodHeinzNo4-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "WoodHeinzNo4-new";
  src: url("../assets/fonts/WoodHeinzNo4-New.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@theme {
  /* colors */
  --color-primary: #df0b1a;
  --color-secondary: #fbb402;
  --color-customBlue: #274789;
  --color-customBlue-100: #2050a3;

  --color-flavor1: #adc441; 
  --color-flavor2: #f5831f; 
  --color-flavor3: #007337; 
  --color-flavor4: #ffc831; 
  --color-flavor5: #f41a0b; 
  --color-flavor6: #da4e24; 
  --color-flavor7: #00b041; 
  --color-flavor8: #ff521b; 

  --color-flavor-bg: #ffd874; 


  --color-shopCard: #ffd773; 

  --font-sans: "WoodChuck", ui-sans-serif, system-ui, -apple-system, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif;

  --font-heading: "WoodHeinzNo4", var(--font-sans);

  --font-headingNew: "WoodHeinzNo4-new", var(--font-sans);
}

@layer base {
  html {
    font-family: var(--font-sans);
  }
  body {
    @apply bg-slate-50;
  }
  h1,
  h2,
  h3,
  h4 {
    font-family: var(--font-headingNew);
  }
}

.c-space {
  @apply max-w-7xl mx-auto px-5 md:px-8 lg:px-16;
}

.nav-link {
  @apply text-white px-3 py-2 rounded-md font-medium hover:text-secondary duration-200;
}

.fries-swiper .swiper-wrapper {
  transition-timing-function: cubic-bezier(0.22, 1, 0.36, 1) !important;
}
